<a href="https://colab.research.google.com/github/Cheeku1998/ML-MODELS/blob/main/svm_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

data collection

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/diabetic data')
data

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [ ]:
data.head()

In [ ]:
data.shape

(1000, 14)

In [ ]:
result=data['CLASS']

In [ ]:
result

0       N
1       N
2       N
3       N
4       N
       ..
995     Y
996    Y
997    Y
998    Y
999    Y
Name: CLASS, Length: 1000, dtype: object

In [ ]:
result.unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [ ]:
data['CLASS'].replace({"N":0,"N ":0,"Y":1,"Y ":1,"P":2},inplace=True)

In [ ]:
G=data['Gender']

In [ ]:
G

0      F
1      M
2      F
3      F
4      M
      ..
995    M
996    M
997    M
998    M
999    M
Name: Gender, Length: 1000, dtype: object

In [ ]:
G.unique()

In [ ]:
data['Gender'].replace({"F":0,"f":0,"M":1},inplace=True)

In [ ]:
data.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,0.565000,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020,0.950000
std,240.397673,3.380758e+06,0.496005,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388,0.391987
min,1.000000,1.230000e+02,0.000000,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000,0.000000
25%,125.750000,2.406375e+04,0.000000,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000,1.000000
50%,300.500000,3.439550e+04,1.000000,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000,1.000000
75%,550.250000,4.538425e+04,1.000000,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000,1.000000
max,800.000000,7.543566e+07,1.000000,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000,2.000000

separating the data and label

In [ ]:
x=data.drop(columns='CLASS',axis=1)
y=data['CLASS']

In [ ]:
x

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0
996,671,876534,1,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2
997,669,87654,1,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4
998,99,24004,1,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5
999,248,24054,1,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
995    1
996    1
997    1
998    1
999    1
Name: CLASS, Length: 1000, dtype: int64

data standardization

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(x)

StandardScaler()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
standard_data=scaler.transform(x)

In [ ]:
print(standard_data)

[[ 0.67213966 -0.07474738 -1.13967126 ... -1.08545731 -0.369958
  -1.12462205]
 [ 1.64185199 -0.06993954  0.87744601 ... -0.4573978  -0.34264878
  -1.32623876]
 [ 0.33086751 -0.06586919 -1.13967126 ... -1.08545731 -0.369958
  -1.12462205]
 ...
 [ 1.36716953 -0.0541266   0.87744601 ... -0.18822944  1.70554268
  -0.43912523]
 [-1.0050881  -0.07296316  0.87744601 ...  0.2603845   3.31678663
   2.2020537 ]
 [-0.38497163 -0.07294836  0.87744601 ...  0.35010729 -0.31533956
   0.68992836]]

In [ ]:
X=standard_data

In [ ]:
Y=data['CLASS']

In [ ]:
print(X)
print(Y)

[[ 0.67213966 -0.07474738 -1.13967126 ... -1.08545731 -0.369958
  -1.12462205]
 [ 1.64185199 -0.06993954  0.87744601 ... -0.4573978  -0.34264878
  -1.32623876]
 [ 0.33086751 -0.06586919 -1.13967126 ... -1.08545731 -0.369958
  -1.12462205]
 ...
 [ 1.36716953 -0.0541266   0.87744601 ... -0.18822944  1.70554268
  -0.43912523]
 [-1.0050881  -0.07296316  0.87744601 ...  0.2603845   3.31678663
   2.2020537 ]
 [-0.38497163 -0.07294836  0.87744601 ...  0.35010729 -0.31533956
   0.68992836]]
0      0
1      0
2      0
3      0
4      0
      ..
995    1
996    1
997    1
998    1
999    1
Name: CLASS, Length: 1000, dtype: int64

TRAIN TEST SPLIT

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(1000, 13) (800, 13) (200, 13)

training the model

In [ ]:
classifier = svm.SVC(kernel='linear')

trainning the support vector machine classifier

In [ ]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

model evaluation

In [ ]:
#accuracy score on the trainning data
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('accuracy score of the training data:',training_data_accuracy)

accuracy score of the training data: 0.94875

In [ ]:
#accuracy score on the test data
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('accuracy score of the test data:',test_data_accuracy)

accuracy score of the test data: 0.935

making a predictive system

In [ ]:
input_data=(200,454317,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0)
#changing the input_data to numpy array
input_data_as_numpy_array=np.asarray(input_data)
#reshape the array as we are predicting  for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(std_data)
print(prediction)

if (prediction[0]==0):
  print('the person is not diabetic')
else:
    print('the person is diabetic')

[[-0.5847407   0.05438353  0.87744601  1.98661936  2.0026799   0.46796961
  -0.50584036  2.02690599 -0.46384968 -0.00719606 -0.72656616 -0.34264878
   0.08507822]]
[1]
the person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"